/* You can add global styles to this file, and also import other style files */
/* body{
    background: url('/angular/app/src/assets/images/Data_security_05.jpg')no-repeat 0 50;
    background-repeat: no-repeat;
} */
/* body{
    background-image: url('./assets/images/Data_security_05.jpg');
} */
